.card{
    background-color: rgb(175, 221, 234);
    padding: 20px;
    border-radius: 40px;
    display: flex;
    align-items: center;

}

.wrapper{
    margin: 40px;
    gap: 30px;
    display: flex;
    justify-content: space-between;
    

}