.box{
    padding: 100px;
    background-image: url('/bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 300px;
    margin-top: 100px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
    text-align: center;
    color: white;

    position: relative;

    button{
        position: absolute;
        bottom: -35px;
        outline: 17px solid rgba(0, 0, 0, 0.119);
        border-radius: 50%;
        background: linear-gradient(267.61deg, #C0B7E8 -0.6%, #8176AF 98.31%);
        border: none;
    }

    h3{
        font-size: 36px;
        font-weight: 400;

        b{
            font-weight: 600;
        }
    }
}


.wrap{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    gap: 15px;
}